#about {
  /* height: 100vh; */
}

.about-container {
  display: grid;
  grid-template-columns: 25% 60%;
  grid-gap: 15%;
  justify-content: center;
  align-items: center;
}

.about-desc-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}

.about-description-text {
  grid-column: 1 / -1;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .about-desc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
