header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.header__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding-top: 1.8rem;
  font-size: 1.5rem;
  /* position: absolute;
  left: 0;
  bottom: 3rem; */
}

.me {
  /* background: linear-gradient(var(--color-primary), transparent); */
  width: 20rem;
  height: 30rem;
  overflow: hidden;
}
.me > img {
  border-radius: 50%;
}

.scroll-down {
  font-size: 2rem;
}
/* .me::before {
  content: "";
  width: 2rem;
  height: 1px;
  background: var(--color-primary);
} */
